.nav-container{
    width: 100%;
}
.hrule{
    border: solid 1px black;
}
.ulist-container{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin-right: 30px;
}
.logo{
    height: 40px;
    width: 40px;
}
.btn{
    border: solid;
    color: black;
    background-color: white;
    height: 30px;
    width: 160px;
    font-size: 18px;
    border-width: 2px;
    border-radius: 8px;
    font-family: 'Bree Serif';
    margin-top: 5px;
}